{{#if isAuthenticated}}
  <p> {{model.menuItem.name}} - ${{number-format model.menuItem.price decimals=2}}<br>
      {{model.menuItem.description}}
      <form {{action 'updateOrder' model on='submit'}}>
        <div class="row">
      <div class="form-group col-sm-3">
        <label for="item-quantity">Quantity</label>
        {{input type="number" class="form-control" id="item-quantity" value=model.quantity required=true placeholder="Quantity"}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label for="special-requests">Special Requests</label>
        {{textarea class="form-control" id="special-requests" placeholder="Special Requests" value=model.comment rows="3"}}
      </div>
    </div>
      <button type="submit" class="btn btn-primary">Update Cart {{fa-icon "shopping-cart"}}</button>
    </form>
  </p>
{{else}}
Please log in to edit your cart.
{{/if}}