<h3>
  {{menuSection.heading}}
  {{#if menuSection.editable}}
    <span {{action 'editSection' menuSection}}>
      {{fa-icon "pencil"}}
    </span>
    {{#confirm-dialog
    dialogClass="delete-confirm-dialog"
    title="Confirm delete"
    text="Are you sure you want to delete this section and all of its items?"
    confirmButtonClass="btn btn-danger"
    cancelButtonClass="btn btn-default"
    confirmButton="Delete"
    cancelButton="Cancel"
    okCssIcon="fa fa-check-circle-o"
    cancelCssIcon="fa fa-ban"
    }}
    <span {{action 'deleteSection'  menuSection}}>
      {{fa-icon "trash"}}
    </span>
    {{/confirm-dialog}}
  {{/if}}
</h3>
{{#each menuSection.menuItems as |menuItem|}}
  {{my-show-menu-item item=menuItem
                      deleteItem='deleteMenuItem'
                      editSingleItem='editSingleItem'
                    }}
{{/each}}
{{#if menuSection.editable}}
  {{new-menu-item menuSection=menuSection
                  createMenuItem='createMenuItem'
                }}
{{/if}}