{{#if model.oI}}
  <div class="row cart-heading">
    <div class="col-sm-3">Name</div>
    <div class="col-sm-3">Price</div>
    <div class="col-sm-3">Quantity</div>
    <div class="col-sm-3">Total</div>
  </div>
  {{#each model.oI as |oI|}}
    <div class="row">
      <div class="col-sm-3">
        {{oI.menuItem.name}}
        <span {{action 'editCart' oI}}>
          {{fa-icon "pencil"}}
        </span>
        {{#confirm-dialog
          dialogClass="delete-confirm-dialog"
          title="Confirm delete"
          text="Are you sure you want to delete this item from your cart?"
          confirmButtonClass="btn btn-danger"
          cancelButtonClass="btn btn-default"
          confirmButton="Delete"
          cancelButton="Cancel"
          okCssIcon="fa fa-check-circle-o"
          cancelCssIcon="fa fa-ban"
        }}
          <span {{action 'removeItem' oI}}>{{fa-icon "trash"}}</span>
        {{/confirm-dialog}}
      </div>
      <div class="col-sm-3">${{number-format oI.menuItem.price decimals=2}}</div>
      <div class="col-sm-3">
        {{oI.quantity}}
        <span {{action 'editCart' oI}}>
          {{fa-icon "pencil"}}
        </span>
      </div>
      <div class="col-sm-3">${{number-format oI.total decimals=2}}</div>
    </div>
    {{#if oI.comment}}
      <div class="row">
        <i>Special instruction: {{oI.comment}}</i>
      </div>
    {{/if}}
    <br>
  {{/each}}
  {{#each model.cart as |cart|}}
  <div class="row cart-summary">
    <div class="col-sm-3">
      {{#confirm-dialog
        dialogClass="delete-confirm-dialog"
        title="Confirm delete"
        text="Are you sure you want to empty your cart?"
        confirmButtonClass="btn btn-danger"
        cancelButtonClass="btn btn-default"
        confirmButton="Delete"
        cancelButton="Cancel"
        okCssIcon="fa fa-check-circle-o"
        cancelCssIcon="fa fa-ban"
      }}
        <button class="btn btn-danger" {{action 'emptyCart' cart}}>Empty Cart</button>
      {{/confirm-dialog}}
    </div>
    <div class="col-sm-3">
      <form action="your-server-side-code" method="POST">
        <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
        data-amount=999
        data-name="Stripe.com"
        data-description="Example charge"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-zip-code="true">
        </script>
      </form>
    </div>
    <div class="col-sm-3">Grand Total:</div>
    <div class="col-sm-3">
      ${{number-format cart.grandTotal decimals=2}}
    </div>
  </div>
  {{/each}}
{{else}}
  Your cart is currently empty.  Go to restaurants to add items!
{{/if}}