
{{#unless model.authenticated}}
  Sign in to view or register your restaurant
{{else}}
  {{#if model.user.restaurant}}
  <ul>
    <h2>
      {{model.user.restaurant.name}}
      {{#if model.user.restaurant.editable}}
        <span {{action 'editSingle' model}}>
          {{fa-icon "pencil"}}
        </span>
        <span {{action 'delete' model}}>
          {{fa-icon "trash"}}
        </span>
      {{/if}}
    </h2>
    <li>{{model.user.restaurant.description}}</li>
    <li>{{model.user.restaurant.address}}</li>
    <li>{{model.user.restaurant.phoneNumber}}</li>
    {{#each model.user.restaurant.restaurantCuisines as |rc|}}
      {{rc.cuisine.cuisineType}}{{#unless (eq rc model.restaurantCuisines.lastObject)}}, {{/unless}}
    {{/each}}
    {{my-show-menu menu=model.user.restaurant.menu
                createMenuSection='createMenuSection'
                createMenuItem='createMenuItem'
              }}
  </ul>
  {{else}}
    Register your restaurant with FoodHubGrublr!
    {{register-restaurant createRestaurant='registerRestaurant'}}
  {{/if}}
{{/unless}}
{{#link-to 'application'}}Go Home{{/link-to}}
{{outlet}}