{{outlet}}
<h2>{{model.name}}</h2>
<ul>
  <li>{{model.description}}</li>
  <li>{{model.address}}</li>
  <li>{{format-phone model.phoneNumber}}</li>
  {{#each model.restaurantCuisines as |rc|}}
    {{rc.cuisine.cuisineType}}{{#unless (eq rc model.restaurantCuisines.lastObject)}}, {{/unless}}
  {{/each}}
  {{show-menu menu=model.menu}}
</ul>
{{#link-to 'application'}}Return to Restaurant list{{/link-to}}