{{outlet}}
<ul>
  <li>{{model.name}}</li>
  <li>{{model.description}}</li>
  <li>{{model.address}}</li>
  <li>{{model.phoneNumber}}</li>
  {{#each model.restaurantCuisines as |rc|}}
    {{rc.cuisine.cuisineType}}{{#unless (eq rc model.restaurantCuisines.lastObject)}}, {{/unless}}
  {{/each}}
  {{show-menu menu=model.menu}}
</ul>
{{#link-to 'application'}}Go Home{{/link-to}}