{{outlet}}
<div class="main-content">
  <ul>
  <h2>{{model.name}}</h2>
    <li>{{model.description}}</li>
    <li>{{model.address}}</li>
    <li>{{format-phone model.phoneNumber}}</li>
    {{#each model.restaurantCuisines as |rc|}}
      {{rc.cuisine.cuisineType}}{{#unless (eq rc model.restaurantCuisines.lastObject)}}, {{/unless}}
    {{/each}}
    <br><br>
    {{show-menu menu=model.menu}}
  </ul>
{{#link-to 'application'}}Return to Restaurant list{{/link-to}}
</div>